body {
    font-size: 24px;
}

.card {
    width: 50px;
    display: none;
    font-size: 10px;
    color: black;

    position: absolute;
    z-index: 100;

    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.link-with-preview {
    position: relative;
}

.card img {
    width: 14px;
}

.card-title {
    font-size: 14px;
}